.form-control {
  display: flex;
  flex: 1;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: all 0.3s ease 0s;
  margin-right: 10px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
  }
  &::placeholder {
    // color: var(--color-dark);
  }
  &[type="color"] {
    flex: none;
    padding: 6px 6px;
    width: 60px;
    height: 60px;
  }
}
